.LandingPage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-image: linear-gradient(black 10%, rgba(0, 0, 0, 0.4), black 95%),
    linear-gradient(90deg, black, rgba(0, 0, 0, 0.3), black), url('../../images/bl3-background.webp');
  background-repeat: none;
  background-position: 48.5% 70%;
  background-size: 1000px;
  z-index: -1;
}

.LandingPage__content {
  position: relative;
  top: 35%;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.LandingPage h1 {
  font-size: 2.5rem;
}

.LandingPage p {
  font-size: 1.3rem;
}
