.App {
  margin-top: 20px;
  padding-bottom: 20px;
  max-width: 700px;
  margin: 0 auto;
}

.App__header {
  padding-left: 80px;
  padding-right: 80px;
}

.App__main {
  margin-top: 50px;
}

.LoginForm input,
.RegistrationForm input {
  max-width: 90%;
  margin: 10px auto;
}

.LoginForm button,
.RegistrationForm button {
  min-width: 100px;
}
