.Header {
  position: absolute;
  top: 0;
  left: 0;
  height: 120px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #101010;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 100%,
    90% 100%,
    calc(90% - 20px) calc(100% - 15px),
    calc(10% + 20px) calc(100% - 15px),
    10% 100%,
    0% 100%
  );
  z-index: 5;
}

.Header img {
  width: 180px;
  transform: rotate(2.5deg);
}

.Header h1 {
  margin: 0;
}

.Header p {
  margin-top: -8px;
  margin-left: 40px;
  font-size: 20px;
  color: #fed302;
}

.Header a {
  text-decoration: none;
}

.Header__tagline {
  position: absolute;
  top: 110px;
  left: 0;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.15rem;
  font-weight: 600;
  z-index: 2;
}

.Header__not-logged-in {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: flex-end;
  width: 120px;
  margin-bottom: 10px;
}

.Header__not-logged-in a {
  color: white;
  padding: 5px 15px;
  margin-left: 10px;
  font-size: 1.2rem;
  text-align: center;
  color: black;
}

.Header__not-logged-in a:last-child {
  margin-top: 10px;
}

.Header__logged-in a {
  font-size: 1.2rem;
  color: black;
}
