@import url('https://fonts.googleapis.com/css?family=Saira+Condensed:400,500,600');

body {
  box-sizing: border-box;
  min-height: 100vh;
  font-family: 'Saira Condensed', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(#3db3fb 35%, #4bb7fa, #60c2ff);
}

ul {
  list-style: none;
}

a {
  font-family: 'Saira Condensed', sans-serfif;
  font-style: italic;
  font-weight: 600;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: none;
  clip-path: polygon(0% 35%, 10% 0%, 100% 0%, 100% 65%, 90% 100%, 0% 100%);
}

.cryo {
  color: #2ed4dd;
}

.fire {
  color: #faa600;
}

.corrosive {
  color: #2ce02f;
}

.shock {
  color: #0e78fb;
}

.radiation {
  color: #d6e718;
}

.Legendary {
  color: #ed9a2d;
}

.yellow_bg {
  background-image: linear-gradient(0deg, #f7ef4f, #fed302);
}

.blue_bg {
  background-image: linear-gradient(0deg, #73c6fa, #3db3fb);
}
